<h2>VirusTotal:</h2>
<a href="<%= "https://www.virustotal.com/gui/url/" + @virustotaldata["data"]["id"].to_s + "/detection" %>">[Link to VirusTotal]</a> <br><br>

<b>Analysis</b>
<pre><code data-v-8db23f90="">
Last anaylsis date: <%= @virustotaldata["data"]["attributes"]["last_analysis_date"] %>
Last analysis stats:
<% if not @virustotaldata["data"]["attributes"]["last_analysis_stats"].inspect == "nil" %>
  <% @virustotaldata["data"]["attributes"]["last_analysis_stats"].each do |k,v| %>
    &nbsp;&nbsp;<%= k %>: <%= v %>
  <% end %>
</code></pre>
<% end %>

<b>Last HTTP Response</b>
<pre><code data-v-8db23f90="">
Final URL: <%= @virustotaldata["data"]["attributes"]["last_final_url"] %>
Status Code: <%= @virustotaldata["data"]["attributes"]["last_https_response_code"] %>
Content Length: <%= @virustotaldata["data"]["attributes"]["last_http_response_content_length"] %>
Body SHA-256: <%= @virustotaldata["data"]["attributes"]["last_http_response_content_sha256"] %>
</code></pre>
<br>
HTTP Cookies: <br>
<pre><code data-v-8db23f90="">
<% if not  @virustotaldata["data"]["attributes"]["last_http_response_cookies"].inspect == "nil" %>
  <% @virustotaldata["data"]["attributes"]["last_http_response_cookies"].each do |k,v| %>
    &nbsp;&nbsp;<%= k %>: <%= v %>
  <% end %>
<% end %>
</code></pre>
<br>
HTTP Headers:
<pre><code data-v-8db23f90="">
<% if not @virustotaldata["data"]["attributes"]["last_http_response_headers"].inspect == "nil" %>
  <% @virustotaldata["data"]["attributes"]["last_http_response_headers"].each do |k,v| %>
    &nbsp;&nbsp;<%= k %>: <%= v %>
  <% end %>
<% end %>
</code></pre>
<br>
