<h1>Scan for <%= @lookup_target %></h1>

Rendered at: <%= Time.now.utc %><br>

<% if params[:scan]["screenshot_enabled"] == "1" %>
  <% if @screenshot != "" %>
    <%= render partial: 'screenshot' %>
  <% else %>
    <p><b>Screenshot Failed:</b> No data received.</p>
  <% end %>
<% end %>

<% if params[:scan]["virustotal_enabled"] == "1" %>
  <% if @virustotaldata != "404" %>
    <%= render partial: 'virustotal' %>
  <% else %>
    <p><b>VirusTotal Query Failed:</b> Server not found.</p>
  <% end %>
<% end %>

<% if params[:scan]["whois_enabled"] == "1" %>
  <% if @whoisdata != "404" %>
    <%= render partial: 'whois' %>
  <% else %>
    <p><b>WHOIS Failed:</b> Server not found.</p>
  <% end %>
<% end %>
