<h2>Scan for <%= @lookup_target %></h2>
Rendered at: <%= Time.now.utc %>
<br>

<% if @shodan != "404" %>
  <%= render partial: 'shodan' %>
<% else %>
  <p><h3 style="color: red">Shodan Lookup Failed: No data received.</h3></p>
<% end %>

<% if params[:scan]["screenshot_enabled"] == "1" %>
  <% if @screenshot != "" %>
    <%= render partial: 'screenshot' %>
  <% else %>
    <p><h3 style="color: red">Screenshot Failed: No data received.</h3></p>
  <% end %>
<% end %>

<% if params[:scan]["virustotal_enabled"] == "1" %>
  <% if @virustotaldata != "404" %>
    <%= render partial: 'virustotal' %>
  <% else %>
    <p><h3 style="color: red">VirusTotal Query Failed: Server not found.</h3></p>
  <% end %>
<% end %>

<% if params[:scan]["whois_enabled"] == "1" %>
  <% if @whoisdata != "404" %>
    <%= render partial: 'whois' %>
  <% else %>
    <p><h3 style="color: red">WHOIS Failed: Server not found.</h3></p>
  <% end %>
<% end %>
