<h1>Scan for <%= @lookup_target %></h1>

Rendered at: <%= Time.now.utc %><br>

<% if params[:scan]["screenshot_enabled"] == "1" %>
  <%= render partial: 'screenshot' %>
<% end %>


<% if params[:scan]["virustotal_enabled"] == "1" %>
  <%= render partial: 'virustotal' %>
<% end %>


<% if params[:scan]["whois_enabled"] == "1" %>
  <%= render partial: 'whois' %>
<% end %>
