
    <div id="searchBar" style="transition: opacity 0.4s;" data-v-8db23f90="" class="grid-container one">
      <div data-v-8db23f90="" class="query-box-wrapper">
        <div data-v-8db23f90="" class="relative">
          <div class="query-box" style="height: 65px;">
            <div class="queryInputSearch-wrapper">

                <div class="input-wrapper">
                  <div id="textInput" contenteditable="true" spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off" placeholder="[TARGET_URL]" data-gramm="false" class="query-input"></div></div><div class="button-wrapper focused"><button onclick="submitHiddenForm()" data-v-6c4e492a="" class="button" id="search-button" tabindex="0">&gt; SCAN</button></div></div></div></div></div></div>

  <div id="subButtons" style="transition: opacity 0.4s;" data-v-8db23f90="" class="grid-container anomalies-wrapper">
   <div data-v-8db23f90="" class="col">
    <div data-v-8db23f90="" class="ticker-header">
      <span data-v-8db23f90="" class="anomalies-header">Config:</span>
      <div data-v-8db23f90="" class="anomalies-ticker">
        <p class="anomaly">
        Screenshot:<span class="baffled" onclick="toggleScreenshot()"><a data-v-8db23f90="" class="router-link">[ENABLED]</a></span>
          | VirusTotal:<span class="baffled" onclick="toggleVT()"><a data-v-8db23f90="" class="router-link">[ENABLED]</a></span>
          | WHOIS:<span class="baffled" onclick="toggleWHOIS()"><a data-v-8db23f90="" class="router-link">[ENABLED]</a></span>
          <br>
          <br>
        </p>
      </div>
    </div>
  <div data-v-8db23f90="" class="ticker-header">
      <span data-v-8db23f90="" class="anomalies-header">Status:</span>
      <div data-v-8db23f90="" class="anomalies-ticker">
        <p class="anomaly">
          <span class="chip">
            <span><span class="baffled">READY</span> | STANDBY</span>
          </span>
        </p>
      </div>
    </div>
  </div>

  <div data-v-8db23f90="" class="link-wrapper"><a data-v-8db23f90="" href="#" class="">&gt; Documentation</a></div>
  </div>

  <div id="footer" style="transition: opacity 0.4s;" data-v-8db23f90="" class="social-footer">Muninn v0.2.1590988988</div>

  </div></div>


<%= form_with scope: :scan, url:scans_path, local: true do |form| %>

  <%= form.label "Target URL: ", :style => 'visibility: hidden' %>
  <%= form.text_field :URL, :style => 'visibility: hidden' %>

  <%= form.label "Screenshot: ", :style => 'visibility: hidden' %><%= form.check_box :screenshot_enabled, checked: true, :style => 'visibility: hidden' %> <br>
  <%= form.label "Virus Total: ", :style => 'visibility: hidden' %><%= form.check_box :virustotal_enabled, checked: true, :style => 'visibility: hidden' %> <br>
  <%= form.label "WHOIS: ", :style => 'visibility: hidden' %><%= form.check_box :whois_enabled, checked: true, :style => 'visibility: hidden' %> <br>

<%= form.submit "Scan", :style => 'visibility: hidden' %>





<% end %>
