<!DOCTYPE html>
<html>
  <head>
    <title>Muninn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag "blacknoise" %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('raven.ico') %>

    <div id="app"><div class="container pt-4 pb-24">
    <div data-v-53a6c4ee="" class="mb-10 grid-container header minified">
      <div data-v-53a6c4ee="" class="content-container">
        <div data-v-53a6c4ee="">
          <nav data-v-53a6c4ee="" class="links-row text-right mb-3">
            <ul data-v-53a6c4ee="">
              <li data-v-53a6c4ee="" class="mr-6 inline-block cursor-pointer" style="transition: all 1s ease 0s; opacity: 1; transform: translateY(0px);">
                <a data-v-53a6c4ee="" href="https://github.com/markkcc/Muninn" class="router-link">
                [source_code]
                </a>
              </li>
              <li data-v-53a6c4ee="" class="mr-6 inline-block" style="transition: all 1s ease 0s; opacity: 1; transform: translateY(0px);">
                <a data-v-53a6c4ee="" href="https://scan.mu.gl/" class="router-link">
                [new_scan]
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
